*
{ 
	margin: 0; padding: 0;
	font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
}
a {
	/* 밑줄 없애기
	   링크 색상(darkslategrey) 지정 */
	text-decoration: none;
	color : darkslategray;
}
body#main {
    margin: 0 auto;
    /* 너비(960px), 배경색(#E6E6E6) 지정 */
    width : 960px;
    background-color:#E6E6E6;
}
section {
    margin-top : 5px;
}
nav {
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom : 20px;
    background-color: whitesmoke;
    width : 900px;
    height: 30px;
    margin-left : 30px;
}
#navigator ul {
    width : 480px;
    float : right;
}
#navigator ul li { 
    list-style-type: none;
    display : inline-block;
    background-color: lightblue;
    width : 100px;
    height : 30px;
    margin-right:15px;
    padding-top: 5px;
    text-align:center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
}
#navigator ul li a{
    color : gray;
}
#navigator ul li a:hover{
    color : red;
}
article {
    width : 900px;
    background-color: whitesmoke;
    margin-left : 30px;
    padding-top:20px;
}
#info-main h3{
    text-align:center;
    margin-bottom : 20px;
    padding-top : 20px;
}
#info-main #text{
    text-align:center;
}
#info-main ul {
    width : 215px;
    margin-left : 340px;
    margin-bottom : 20px;
    margin-top : 20px;
}
#info-main ul li {
    list-style-type: none;
    display : inline-block;
    background-color: lightblue;
    width : 70px;
    padding-top : 30px;
    padding-bottom : 30px;
    padding-left : 10px;
    padding-right : 10px;
    text-align : center;
    margin-left : 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
}
#info-main ul li a{
    color : white;
}
#info-main ul li a:hover{
    color : lightsalmon
}
#info-main img{
    margin-left : 150px;
    margin-bottom: 20px;
}
#info-aboutme header{
    padding-left : 100px;
    padding-right : 100px;
    font-size:25px;
}
#info-aboutme p{
    padding-left : 100px;
    padding-right : 100px;
    word-wrap: break-word;
}
#info-aboutme p a{
    color : blue;
}
footer {
    color : gray;
    margin-left : 30px;
    background-color: whitesmoke;
    width : 900px;
    margin-top : 10px;
    text-align:center;
    padding-top : 10px;
    padding-bottom: 10px;
}